In [2]:
import pandas as pd

In [3]:
s1=pd.Series([1,2,3,4,5])
s1
#one dimensional

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

In [5]:
l1=[10,20,45,789,158,453,254,44]
pd.Series(l1)

0     10
1     20
2     45
3    789
4    158
5    453
6    254
7     44
dtype: int64

In [6]:
s2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
s3=pd.Series({'a':100,'b':200,'c':300})
s3

a    100
b    200
c    300
dtype: int64

In [8]:
#extracting values
e1 = pd.Series([1,2,3,4,5,6,7,8,9])
e1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [9]:
e1[6]

7

In [10]:
e1[:6]

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [11]:
e1[-5:]

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [12]:
e1 + 10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [13]:
e1-100

0   -99
1   -98
2   -97
3   -96
4   -95
5   -94
6   -93
7   -92
8   -91
dtype: int64

In [14]:
e1*2

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64

In [18]:
e2 = pd.Series([10,20,30,40,50,60,70,80,90])

In [19]:
e1
e2

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [20]:
e1 + e2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [21]:
e1-e2

0    -9
1   -18
2   -27
3   -36
4   -45
5   -54
6   -63
7   -72
8   -81
dtype: int64

In [4]:
df1=pd.DataFrame({'Name':['Sam','Julia','Anne','Matt'],'Marks':[99,32,100,78]})
df1

    Name  Marks
0    Sam     99
1  Julia     32
2   Anne    100
3   Matt     78

In [4]:
iris=pd.read_csv('iris.csv')

In [5]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
iris.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [11]:
iris.shape

(150, 5)

In [12]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [13]:
iris.iloc[0:5]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
iris.loc[5:10,('Petal.Length','Species')]

    Petal.Length Species
5            1.7  setosa
6            1.4  setosa
7            1.5  setosa
8            1.4  setosa
9            1.5  setosa
10           1.5  setosa

In [15]:
iris.drop('Species',axis=1)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [16]:
iris.drop([3,4,5,6,7],axis=0)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[145 rows x 5 columns]

In [17]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
iris.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [19]:
#same function on different columns
def double_make(s):
    return s*2

In [21]:
iris[['Sepal.Width','Petal.Width']].apply(double_make)
#doubled values of sepal and petal

     Sepal.Width  Petal.Width
0            7.0          0.4
1            6.0          0.4
2            6.4          0.4
3            6.2          0.4
4            7.2          0.4
..           ...          ...
145          6.0          4.6
146          5.0          3.8
147          6.0          4.0
148          6.8          4.6
149          6.0          3.6

[150 rows x 2 columns]

In [6]:
iris['Species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: Species, dtype: int64

In [7]:
iris.sort_values(by='Petal.Length')

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]